body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f8fd;
  margin: 0;
  padding: 2rem;
}

.container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #003366;
  margin-bottom: 1.5rem;
}

.volver-btn {
  background-color: #000;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.informe-textarea {
  width: 100%;
  height: 400px;
  resize: none;
  padding: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  background-color: #f1f5f9;
  font-family: monospace;
  font-size: 0.95rem;
}

.observaciones_textarea{
    border: 1px solid #cbd5e1;
    background-color: #f1f5f9;
    font-family: monospace;
}

.form-group {
  margin-top: 1rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.guardar-btn {
  background-color: #28a745;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.eliminar-btn {
  background-color: #dc3545;
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
