:root {
    --color-blanco: #ffff;
    --color-negro: #000000;   
    --color-fondo: #EBEDEF;
    --color-azul_claro: #356CDA;
    --color-azul_oscuro: #1C3974;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-negro);
    font-weight: 300;
}

footer {
    position: fixed;
    font-family: "Open Sans", sans-serif;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, var(--color-azul_claro), var(--color-azul_oscuro));
    text-align: center;
    padding: 0.75rem 0;
    color: var(--color-blanco);
    font-size: 0.875rem;
     z-index: 1;
  }


main {
    flex: 1;
    width: 100%;
    margin-bottom: 60px; /* Ajusta este valor según la altura de tu footer */
}