:root {
    --color-blanco: #ffff;
    --color-negro: #000000;   
    --color-fondo: #EBEDEF;
    --color-azul_claro: #356CDA;
    --color-azul_oscuro: #1C3974;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-negro);
    font-weight: 300;
    height: 100vh;
}
footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, var(--color-azul_claro), var(--color-azul_oscuro));
    text-align: center;
    padding: 0.75rem 0;
    color: var(--color-blanco);
    font-size: 0.875rem;
  }