:root {
    --color-blanco: #ffff;
    --color-negro: #0000;   
    --color-fondo: #EBEDEF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-negro);
    height: 100vh;
}